.box{
    text-align: left;
}

/*.search{
    background-color: gainsboro;
    width: 50%;
    margin: auto;
    height: 40px;
    border-radius: 5px;  
    cursor: text; 
}
.search i{
    color: rgb(18, 13, 9);
    transform: translate(0, -25px);
    font-size: 30px;
    float: left; 
}*/

.cards{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

.card{
    width: 300px;
    height: fit-content;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.5);
    margin: 30px;
    text-align: center;
    overflow: hidden;
    transition: all ease .3s;
}
.card label{
    margin: 20px;
}
.hover:hover{
    transform: translate(-5px, -5px);
}

.posterImage{
    height: 440px;
}

.newMovie{
    position: fixed;
    bottom: 30px;
    right: 30px;
    background-color: #df8765;
    color: whitesmoke;
    height: 65px;
    width: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    transition: all ease .3s;
}
.newMovie:hover{
    color: #df8765;
    background-color: whitesmoke;
    border: 1px solid #df8765;
}

.orderButton {
  align-items: center;
  background-clip: padding-box;
  background-color: #D15855;
  border: 1px solid transparent;
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

.orderButton:hover
{
  background-color: #eb7674;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.focused-button{
    background-color: #eb7674;
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.orderButton:hover {
  transform: translateY(-1px);
}

.orderButton:active {
  background-color: #D15855;
  box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
  transform: translateY(0);
}