.main{
   
    height: 100%;
    
}
  
.dashnav{
    height: 160vh;
    
}

.sidebar {
    /* position: fixed; */
    height: 100%;
    padding: 58px 0 0; /* Height of navbar */
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);
    width: 240px;
    
    
}

.pre-scrollable {
    width: 100%;
    height: 400px;
    max-height: 500px;
    overflow-y: scroll;
    overflow-x: hidden;
}

@media (max-width: 991.98px) {
    .sidebar {
    width: 100%;
    }
}

.sidebar .active {
    border-radius: 5px;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
    color: #D05353;
}
    
.sidebar-sticky {
    position: relative;
    top: 0;
 
    padding-top: 0.5rem;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.nav-link {
    color: #191919;
}
.nav-menu{
    color: white;
}
.nav-link:hover {
    color: #D05353;
}

.row{
    margin-right: 0;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.0rem;
    color: #191919;
}

.tab-pane {
    margin-top: 30px;
}

.btn-eliminar{
    border: none;
    margin: 5px;
    padding: 2px 5px;
    border-radius: 5px;
    background-color: transparent;
    color: #D05353;
}
.btn-eliminar:hover{
    font-weight: bolder;
}
.table>:not(caption)>*>*{
    background-color: transparent;
    border-bottom-width: 0px;
    
}

.table-secondary{
    color: whitesmoke;
    font-weight: lighter;
}
.one{
    vertical-align: middle;
    cursor: default;
}

.tabla {
    display: flex;
    justify-content: center;
    align-items: center;
}
.content-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    width: 90%;
    background-color: #f9ebe6;
}

.content-table .thead .columna {
    background-color: #E58F65;
    color: #ffffff;
    text-align: center;
    font-weight: bold;
}

.content-table th,
.content-table td {
    padding: 12px 15px;
}

.content-table tbody .columna {
    border-bottom: 1px solid rgb(222, 157, 134);
}

.content-table tbody .columna:nth-of-type(even) {
    background-color: #f5cdbe;
}

.content-table tbody .columna:last-of-type {
    border-bottom: 2px solid #E58F65;
}

.table-light{
    /*--bs-table-hover-bg: #F9E784;*/
    --bs-table-hover-bg: transparent;
}

.columna:hover{
    background-color: #F9E784;
}
.content-table tbody .columna:hover{
    background-color: #F9E784;
}

.aviso{
    margin: 80px;
  
}
p.avisoT{
    font-size: 30px;
}
 .lock{
    width: 30%;
}