a{
  color:grey;
}

a:hover{
  color:rgba(74, 138, 255, 0.644);
  cursor: pointer;
}

.background{
  min-height: 89%;  
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../Assets/BK3.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.NavUnique{
  background-color: #ce4a4894;
  color: whitesmoke;
  width: 100%;
  height: 100px;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: space-between;
  position: absolute;
  z-index: 5;
}

.loginbox{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  width: 360px;
  height: 390px;
  border-radius: 25px;
  background-color: white;

  outline: 3px solid #D15855;
  outline-offset: -20px;
  

}

.link{
  padding-top: 10px;
}

.text-login{
  font-size: 30px;
  margin-top: 5px;
}

.text-login::after{
  content: " ";
  position: absolute;
  display: block;
  left: 40.3%;
  bottom: 25;
  width: 18.5%;
  height: 1px;
  background-color: lightgrey;
}
.input-login{
  text-align: center;
  font-size: 90%;
}

.sincuenta{
  font-size: 80%;
  margin-top: 20px;
}
