a{
  color:grey;
}

a:hover{
  color:rgba(74, 138, 255, 0.644);
  cursor: pointer;
}

.background{
  min-height: 89%;  
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../Assets/BK3.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.NavUnique{
  background-color: #ce4a4894;
  color: whitesmoke;
  width: 100%;
  height: 100px;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: space-between;
  position: absolute;
  z-index: 5;
}

.loginbox{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 400px;
  border-radius: 25px;
  background-color: white;
}

.link{
  padding-top: 10px;
}

.text-login{
  font-size: 30px;
}
.input-login{
  text-align: center;
}